.container {
    display: flex;
    margin-top: 10px;
  }
  
  .outlet-container {
    flex-grow: 1;
    flex-shrink: 1; /* Allow content to shrink */
    overflow-x: auto; /* Add horizontal scrollbar if needed */
  }
  
  

.link{
    text-decoration: none;
    color: inherit;
}